body,
html {
  font-family: "Roboto", sans-serif;
}

body {
  background: url(../assets/footer-bg.png) no-repeat center bottom;
    background-color: #FAD02C;
  padding-bottom: 400px;
  
}

#header {
  width: 100%;
  background-color: transparent;
  transition: background ease-out 0.2s;
}

#header.active {
  position: fixed;
  background-color: white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
  
}

#header .navbar-collapse {
  width: auto;
}

#header .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  color: black;
  font-family: Overpass;

  border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
  border-bottom: solid 4px var(--secondary);
  color: var(--secondary);
}

#slider {
  background: url() no-repeat center bottom;
  background-size: contain;
}

#slider h1 {
  text-transform: uppercase;
  font-weight: 900;
}

#slider h4 {
  font-size: 18px;
  text-transform: uppercase;
}

#servicos div.destaque {

  display: block;
  background: var(--light);
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  color: #000;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

#servicos div.destaque:hover {
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}


#servicos a.destaque {

  display: block;
  background: var(--light);
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  color: #000;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

#servicos a.destaque:hover {
 
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

#servicos p {
  color: var(--dark);
}

#servicos a.destaque .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

#servicos a.destaque .img-container img {
  max-height: 160px;
}

#clientes a.link-cliente {
  padding: 0 15px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--light);
  height: 100px;
  transition: ease-out all 0.2s;
}

#clientes a.link-cliente:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

#clientes a.link-cliente img {
  filter: grayscale(100%);
  max-height: 70px;
  width: 100%;
  opacity: 0.6;
}

#clientes a.link-cliente:hover img {
  filter: none;
  opacity: 1;
}

#clientes .cliente-texto {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: red;
  border-radius: 5px;
  flex-direction: row;
justify-content: space-between;
align-items: center
}

#clientes .cliente-texto .imagem {
  padding: 60px 0;
  display: flex;
  align-items: center;
  margin-left: -70px;
  color: #b4b4b4;
  font-size: 24px;
  line-height: 26px;
}

#clientes .cliente-texto .imagem span {
  color: var(--secondary);
  font-size: 110px;
  line-height: 110px;
  letter-spacing: -10px;
  font-weight: 900;
  display: block;
}

#clientes .cliente-texto .telefone {
  display: flex;
  font-size: 14px;
  color: #b4b4b4;
}

#clientes .cliente-texto .telefone span {
  font-size: 25px;
  color: #797979;
  font-weight: 900;
  display: block;
}

#servicos .badge {
  font-weight: 400;
}

#servicos .element-item img {
  border-radius: 5px;
  transition: all ease-out 0.2s;
}

#servicos .element-item img:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

#servicos .button-group {
  margin-bottom: 30px;
}

#servicos .button-group button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  
}

#servicos .button-group button + button {
  margin-left: 30px;
  
}

#servicos .button-group button.active {
  color: var(--primary);
}

#depoimentos .depoimento {
  background-color: var(--light);
  border-radius: 5px;
  display: flex;
  padding: 30px;
}

#depoimentos .depoimento .quote {
  max-width: 35px;
}

#depoimentos .depoimento .name {
  color: #aaaaaa;
}

#depoimentos .depoimento .name span {
  color: #000;
  font-weight: 700;
}


/** rodape **/
.footer {
  width: 100%;
  background: #00121b;
  display: block;
  top:800px;
  position: relative;
 }

 .inner-footer {
   width: 95%;
   margin: auto;
   padding: 30px 10px;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   justify-content: center;
 }

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: #fff;
}

.footer-items h1 {
  color: #fff;
}

.border1 {
  height: 3px;
  width: 40px;
  background: #ff9800;
  color: #ff9800;
  background-color: #ff9800;
  border: 0px;
}

ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;	
 }

ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

ul a:hover {
  color: #ff9800;
}

ul li {
  margin: 10px 0;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  height: 25px;
  width: 25px;
  margin: 20px 10px;
  padding: 4px;
  color: #fff;
  transition: 0.5s;
}

.social-media i:hover {
  transform: scale(1.5);
}

.footer-bottom {
  padding: 10px;
  background: #00121b;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 1275px) {
  .footer-items {
    width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width:1023px){
  .footer-items {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .footer-items {
    width: 100%;
  }
}


/** fim do rodape **/

